body {
  width: 300px;
  min-height: 300px;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.65rem !important;
}

.dark-theme {
  color: rgb(194, 123, 160);
  background-color: rgb(45, 45, 45);
}

.dark-theme h1 {
  color: rgb(246, 178, 107);
}

.dark-theme #introduction {
  font-style: italic;
  color: rgb(246, 178, 107);
}

.form-control-color {
  padding: 0.125rem;
}

.form-select-xs {
  padding-top: 0.13rem;
  padding-bottom: 0.13rem;
  padding-left: 0.5rem;
  font-size: 0.775rem;
  border-radius: 0.2rem;
}
