body {
  width: 780px;
  min-height: 325px;
}

.dark-theme {
  color: rgb(194, 123, 160);
  background-color: rgb(45, 45, 45);
}

.dark-theme h1 {
  color: rgb(246, 178, 107);
}

.sub-title {
  font-style: italic;
  color: rgb(246, 178, 107);
}

.container {
  margin: 0px 0px 10px 0px;
  max-width: 100%;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.65rem !important;
}

.form-control-color {
  padding: 0.125rem;
}

.form-select-xs {
  padding-top: 0.13rem;
  padding-bottom: 0.13rem;
  padding-left: 0.5rem;
  font-size: 0.775rem;
  border-radius: 0.2rem;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

a {
  font-family: Calibri;
  font-weight: bold;
  font-style: italic;
  color: rgb(246, 178, 107) !important;
  text-decoration: underline !important;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
